<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=2">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png?v=2">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png?v=2">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{# {%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %} #}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or you can add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>
			{% getBundle "css" %}
		</style>

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>
								{{ entry.title }}
							</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer>
			<div class="footer-links">
				<a href="https://github.com/ckaczor" title="GitHub">
					<picture>
						<source srcset="/img/github/github-mark.svg" media="(prefers-color-scheme: light)"/>
						<source srcset="/img/github/github-mark-white.svg" media="(prefers-color-scheme: dark)"/>
						<img eleventy:ignore src="/img/github/github-mark.svg" alt="GitHub Logo" />
					</picture>
      			</a>
				<a href="/feed/feed.xml" type="application/atom+xml" title="Subscribe">
					<picture>
						<source srcset="/img/feed/rss.svg" media="(prefers-color-scheme: light)"/>
						<source srcset="/img/feed/rss-white.svg" media="(prefers-color-scheme: dark)"/>
						<img eleventy:ignore src="/img/feed/rss.svg" alt="RSS" />
					</picture>
      			</a>
				<a href="https://www.linkedin.com/in/chris-kaczor/" title="LinkedIn">
					<picture>
						<source srcset="/img/linkedin/linkedin.svg" media="(prefers-color-scheme: light)"/>
						<source srcset="/img/linkedin/linkedin-white.svg" media="(prefers-color-scheme: dark)"/>
						<img eleventy:ignore src="/img/linkedin/linkedin.svg" alt="LinkedIn" />
					</picture>
      			</a>
			</div>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
		<!-- Built with {{ eleventy.generator }} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
